body{
    font-family: Arial, Helvetica, sans-serif;
}
table, th, tr, td{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}
table{
    width: 50%;
}

th{
    background-color: lightblue;
}